<%- include('./partials/header') %>
        <link rel="stylesheet" href="/stylesheets/contacts.css">
    </head>
    <body>
        
        <div class="topDiv">
            <!-- <img class="blockico" src="http://placehold.it/100x100/fc0"> -->
            <div class="container">
                <div class="card-columns d-flex justify-content-center">
                  <div class="card align-items-center">
                    <i class="fas fa-phone"></i>
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                  <div class="card">
                    <i class="fas fa-phone"></i>
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">This is a longer card with shorter text.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
<%- include('./partials/footer') %>