<%- include('./partials/header') %>
<title>4Paw | Donate</title>
    <link rel="stylesheet" href="/stylesheets/donate.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="contain">
            <div class="image-dog">
                <img src="../public/images/donate-street-dog.jfif" alt="">
            </div>
            <div class="text">
                Your one contribution
                <div class="many">
                    can save many lives.
                </div>
                These animals <br> need you.
                <br />
                <button type="submit" class="btn btn-primary submit-button">
                    Donate
                </button>
            </div>

            <div class="divider3">
                .
            </div>

            <div class="divider">
                .
            </div>
            <div class="divider2">
                .
            </div>

            <div class="ngo-text">
                We donate to NGOs that help the stray animals by providing them with food, shelter and medical care. All
                donations big or small are appreciated.
                We are getting into contact with more NGOs and organizations to help these innocent souls, all because
                of your help and support.

            </div>

            <div class="ngos">
                <div class="container mt-2">
                    <!--   <div class="card card-block mb-2">
    <h4 class="card-title">Card 1</h4>
    <p class="card-text">Welcom to bootstrap card styles</p>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>   -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 item  hover-zoomin item">
                            <div class="card">
                                <img class="card-img-top" src="../public/images/ngo1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">We aim to connect people who want to help these animals with NGOs which currently provide shelter to them. If you choose to donate to NGOs supporting these animals, we can include more animals in our shelters and vaccinate them and protect their precious lives.
</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hover-zoomin item">
                            <div class="card">
                                <img class="card-img-top" src="../public/images/ngo2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">The donations collected will help the organizations reach out to more stray animals including dogs, cats & cattle. Until they’re adopted, their food and other medical facilities will be taken care of with the help of these donations. 
</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <%- include('./partials/footer') %>