<%- include('./partials/header') %>

        <title>BecomeHost</title>
        <link rel="stylesheet" href="/stylesheets/becomehostStyle.css">
    </head>

    <body>
        <h1>join us here!</h1>

<%- include('./partials/footer') %>