<%- include('./partials/header') %>

        <title>BecomeHost</title>
        <link rel="stylesheet" href="/stylesheets/becomehostStyle.css">
    </head>

    <body>


        <div class="full-height">
            <div id="landing-header">
                <h1>Wanna host?</h1>
                <a href="#becomehostForm" class="btn btn-lg btn-success">Become one</a>
            </div>

            <ul class="slideshow">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="becomehostForm" class="full">
            <div class="left-text">
                <h3>Deadpool Fans Petition 'SNL' for Superhero to Host</h3>
                <p>
                    Deadpool fans want its superhero to host Saturday Night Live — Deadpool, that is, not Ryan Reynolds.
                    Fans of the Merc With a Mouth, who led the Marvel film to a history-making debut at the box office,
                    have launched a Change.org petition calling for the antihero to host an upcoming episode of the NBC
                    sketch comedy show. "We've all seen the trailers, the magazine covers, the viral videos, and the
                    billboards by now, so what's left for Deadpool (Ryan Reynolds) to do?" creator Andrew Stege asks in
                    the petition, which is directed to SNL, creator Lorne Michaels, parent.
                </p>
            </div>
            <img class="rightImg"
                src="https://myanimals.com/wp-content/uploads/2019/06/A-loving-pet-in-the-arms-of-a-young-person.-e1561581377340.jpg">
            <div class="clear"></div>
        </div>

<%- include('./partials/footer') %>