<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/login.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
<h1>login goes here!</h1>
<%- include('./partials/footer') %>