body{
    background-color: #1d1d1e;
}

.cards{
    margin-bottom: 20px;

}

.img-thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
}

img{
    height: 100px;
}

.header-container .jumbotron{
    background: url(https://cdn.wallpapersafari.com/82/1/P1Uzpr.png);
}

.header-container .jumbotron .container h1,.header-container .jumbotron .container p{
    margin-left: 30%;
    color: aliceblue;
}

.caption h4{
    font-size: 15px;
}

.cardz{
    height: 250px !important;  
}