@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #1d1d1e;
    font-family: 'Roboto', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-size-09 {
    font-size: .9em;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row{
    width: 300px;
}

.card:hover{
    min-width: 19rem;
    max-width: 19rem;
}

.section1{
    width: 100%;
    height: 400px;
    background: url(https://parade.com/wp-content/uploads/2019/04/pet-quotes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 1rem;
    border-color: #fff !important;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  i {
    color: #fff;
  }

  h1, h3,p{
    color: #fff;
  }

  .card-text{
    color: #000;
  }