body {
  font-family: "Poppins", sans-serif;
  background-color: #1d1d1e;
}
.header1 {
  background-image: url("../images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 105vh;
  position: relative;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.header1:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 275px;
  background-repeat: no-repeat;
}

.header-content {
  z-index: 1;
  padding-bottom: 100px;
}
.header-content h1 {
  font-size: 55px;
  /* font-weight: bold;
  text-transform: capitalize; */
  color: white;
}
.header-content h1 span {
  font-size: 60px;
  font-family: "Roboto Slab", serif;
  color: #117393;
}

.header-content p {
  font-size: 20px;
  margin: 20px 0 25px;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  /* text-transform: capitalize; */
}

.col-lg-6 img {
  height: 450px;
  width: 650px;
}

/* INFO CONTAINER */
#about {
  background-image: url(/public/images/4685.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-section {
  padding: 17rem 0 10rem 0;
  margin-top: 20px;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    color: #2c3e50;
  }
}

.row .lead {
  color: #117393;
  font-weight: bold;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #2c3e50;
}
i {
  color: #2c3e50;
}

/* Animation */
.animation {
  margin-bottom: 50px;
  height: 600px;
  /* Animation */
}
.animation {
  margin-bottom: 80px;
  height: 600px;
}
.animation img {
  justify-content: center;
  height: 600px;
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

/* Pictures of pets */
h2 {
  color: #5a94cf;
  font-variant: normal;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.outer-hex {
  padding-top: 20px;
  padding-bottom: 34px;

  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.daysoftheyear.com/wp-content/uploads/look-up-at-the-sky-day-1.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/home-hex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hexagon-gallery {
  margin: auto;
  margin-top: 0px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 14px;
  padding-bottom: 50px;
}

.hex {
  display: flex;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: #424242;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hex:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hex:nth-child(6) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex:nth-child(7) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hex:nth-child(8) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex:nth-child(9) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hex:nth-child(10) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}

.hexagon-gallery .hex img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  filter: grayscale(50%);
  opacity: 0.85;
}

/* Icons */
.features-icons {
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://royailekennel.com/wp-content/uploads/2015/06/background-paws-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  padding-top: rem;
  padding-bottom: 4rem;
  margin-bottom: 80px;
}



.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item p {
  color: #fff;
  margin-top: 10px;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}
